.App {
  padding: 1% 15% 1% 15%;
  text-align: center;
}

a{
  text-decoration: none;
  color: blue;
}

button {
  border: 0;
  background: #f0fff0;
  cursor: pointer;
  margin-left: 10px;
}

form{
  width: 100%;
}

form > input{
  width: 50%
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li{
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

ul > li > span{
  text-align: left;
  width: 80%;
}

input{
  width: 80%;
}

.hide{
  display: none;
}

