.App {
  padding: 1% 15% 1% 15%;
  text-align: center;
}

button {
  border: 0;
  background: #f0fff0;
  cursor: pointer;
  margin-left: 10px;
}

form{
  width: 100%;
}

form > input{
  width: 50%
}

form > button{
  background-color: green;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li{
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

ul > li input{
  text-align: left;
  width: 80%;
}
ul > li span{
  width: 80%;
}

.hide{
  display: none;
}

